*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.overall-div{
    width: 100%;
    background-image: url(./Car_Animation_Img/sky.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.road{
    height: 200px;
    width: 500%;
    background-image: url(./Car_Animation_Img/road.jpg);
    /* background-repeat: repeat-x; */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    animation: road 6s linear infinite;
}
.buildings{
    position: absolute;
    background-image: url(./Car_Animation_Img/city.png);
    bottom: 12.5rem;
    right: 0;
    left: 0;
    height: 15.63rem;
    width: 500%;
    animation: buildings 20s linear infinite;
}
.car{
    width: 18.75rem;
    position: absolute;
    left: calc(50% - 9.375rem);
    z-index: 2;
    bottom: 6.25rem;
}
.car img{
    width: 100%;
    animation: car 1s linear infinite;
}
.tyres{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 11.25rem;
    z-index: 2;
}
.tyres img{
    width: 3.75rem;
    height: 3.75rem;
    animation: tyres 1s linear infinite;
}
.back{
    position: absolute;
    left: -7.9375rem;
    top: 15px;
}
.front{
    position: absolute;
    left: 3.5625rem;
    top: 15px;
}












@keyframes road{
    100%{
        transform: translateX(-4000px);
    }
}
@keyframes buildings{
    100%{
        transform: translateX(-2000px);
    }
}
@keyframes car{
    100%{
        transform: translateY(-1.5px);
    }
    50%{
        transform: translateY(1.5px);
    }
    0%{
        transform: translateY(-1.5px);
    }
}
@keyframes tyres{
    100%{
        transform: rotate(360deg);
    }
}